/* Tablet and up */

@media screen and (min-width: 768px) {
    .estrategias .active,
    .estrategias .active+.estrategia-item {
      display: block;
    }
    .estrategias .estrategia-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .estrategias .estrategia-item.active:not(.carousel-item-right):not(.carousel-item-left)+.estrategia-item {
      -webkit-transition: none;
      transition: none;
    }
    .estrategias .carousel-item-next,
    .estrategias .carousel-item-prev {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .estrategias .active.estrategia-item+.estrategia-item+.estrategia-item+.estrategia-item {
      position: absolute;
      top: 0;
      right: -50%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.estrategia-item {
      position: relative;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .estrategias .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.estrategia-item {
      position: relative;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
  
  /* Desktop and up */
  
  @media only screen and (min-width: 992px) 
  and (max-width:1200px){
    .estrategias .active,
    .estrategias .active+.estrategia-item,
    .estrategias .active+.estrategia-item+.estrategia-item {
      display: block;
    }
    .estrategias .estrategia-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .estrategias .estrategia-item.active:not(.carousel-item-right):not(.carousel-item-left)+.estrategia-item,
    .estrategias .estrategia-item.active:not(.carousel-item-right):not(.carousel-item-left)+.estrategia-item+.estrategia-item {
      -webkit-transition: none;
      transition: none;
    }
    .estrategias .carousel-item-next,
    .estrategias .carousel-item-prev {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .estrategias .active.estrategia-item+.estrategia-item+.estrategia-item+.estrategia-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.estrategia-item,
    .carousel-item-next.carousel-item-left+.estrategia-item+.estrategia-item,
    .carousel-item-next.carousel-item-left+.estrategia-item+.estrategia-item+.estrategia-item {
      position: relative;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .estrategias .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.estrategia-item,
    .carousel-item-prev.carousel-item-right+.estrategia-item+.estrategia-item,
    .carousel-item-prev.carousel-item-right+.estrategia-item+.estrategia-item+.estrategia-item {
      position: relative;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
  @media only screen
  and (min-width : 1200px){
    .estrategias.carousel-inner .active,
    .estrategias.carousel-inner .active+.carousel-item,
    .estrategias.carousel-inner .active+.carousel-item+.carousel-item,
    .estrategias.carousel-inner .active+.carousel-item+.carousel-item+.carousel-item,
    .estrategias.carousel-inner .active+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      display: block;
    }
    .estrategias.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .estrategias.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .estrategias.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .estrategias.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
      -webkit-transition: none;
      transition: none;
    }
    .estrategias.carousel-inner .carousel-item-next,
    .estrategias.carousel-inner .carousel-item-prev {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .estrategias.carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* left or forward direction */
    .estrategias .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .estrategias .carousel-item-next.carousel-item-left+.carousel-item,
    .estrategias .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .estrategias .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    .estrategias .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: relative;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .estrategias.carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* right or prev direction */
    .estrategias .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .estrategias .carousel-item-prev.carousel-item-right+.carousel-item,
    .estrategias .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .estrategias .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    .estrategias .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: relative;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }

.card-title{
    font: 0.95em Roboto;
    letter-spacing: 0.01em;
  }

.card-body img{
  max-width: 35px;
}
.card-body{
  min-height: 200px;
}
  .cards-title-black{
    font: 2em Ubuntu !important;
    letter-spacing: 0.1em;
  
   }
   .cards-title-morado{
    font: 2em Ubuntu !important;
    letter-spacing: 0.1em;
    color: #5B296E;
  
   }
  .card-text{
    font: .8em Roboto;
    letter-spacing: 0.01em;
    padding-top:0.5em
  }
  .card-link{
    color:#5B296E;
    text-align: center;
    opacity: 1;
    font: .8em Roboto;
    letter-spacing: .07em;
    float: right;
  
  }

.cards{
  max-width: 1600px;
  margin: auto;
}
@media only screen
and (min-width:320px)
and (max-width: 992px){
  .card-text{
    font-size: 20px;
  }
  .card-title{
    font-size: 25px;
  }
  .card-link{
    font-size:18px;
  }
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }