:root {

	/* Colors: */
	--unnamed-color-6a6a6a: #6A6A6A;
	--unnamed-color-6cf3b2: #6CF3B2;
	--blanco: #FFFFFF;
	--unnamed-color-00000099: #000000;
	--unnamed-color-92709e: #92709E;
	--morado-punto: #5B296E;
	--unnamed-color-000000de: #000000;
	--gris-punto: #919AA2;
	--unnamed-color-7f598e: #7F598E;
	--unnamed-color-393939: #393939;
	--unnamed-color-22317c: #22317C;
	--unnamed-color-0000c9: #0000C9;
	--unnamed-color-2500d7: #2500D7;
	--unnamed-color-3f00df: #3F00DF;
	--unnamed-color-5400e8: #5400E8;
	--unnamed-color-6200ee: #6200EE;
	--unnamed-color-7e39fb: #7E39FB;
	--unnamed-color-995dff: #995DFF;
	--unnamed-color-e3b8ff: #E3B8FF;
	--unnamed-color-dab2ff: #DAB2FF;
	--unnamed-color-fbd5ff: #FBD5FF;
	--unnamed-color-005739: #005739;
	--unnamed-color-007457: #007457;
	--unnamed-color-008466: #008466;
	--unnamed-color-009577: #009577;
	--unnamed-color-00a284: #00A284;
	--unnamed-color-00b398: #00B398;
	--unnamed-color-00c4ab: #00C4AB;
	--unnamed-color-03dac6: #03DAC6;
	--unnamed-color-71efe0: #71EFE0;
	--unnamed-color-a8fffb: #A8FFFB;
	--unnamed-color-00000061: #000000;
	--unnamed-color-6d417e: #6D417E;
	--unnamed-color-a91ec0: #A91EC0;
	--unnamed-color-b337c7: #B337C7;
	--unnamed-color-bc50ce: #BC50CE;
	--unnamed-color-c669d5: #C669D5;
	--unnamed-color-3b488b: #3B488B;
	--unnamed-color-535f99: #535F99;
	--unnamed-color-6c76a8: #6C76A8;
	--unnamed-color-0059ee: #0059EE;
	--unnamed-color-1c6bf0: #1C6BF0;
	--unnamed-color-397ef2: #397EF2;
	--unnamed-color-5590f4: #5590F4;
	--unnamed-color-006065: #006065;
	--unnamed-color-1c7276: #1C7276;
	--unnamed-color-398387: #398387;
	--unnamed-color-559598: #559598;
	--unnamed-color-7cf4bb: #7CF4BB;
	--unnamed-color-8df6c3: #8DF6C3;
	--unnamed-color-9df7cc: #9DF7CC;
	--unnamed-color-202020: #202020;
	--unnamed-color-525252: #525252;
	--unnamed-color-9da5ac: #9DA5AC;
	--unnamed-color-a9b0b7: #A9B0B7;
	--unnamed-color-b6bcc1: #B6BCC1;
	
	/* Font/text values */
	--unnamed-font-family-roboto: Roboto;
	--unnamed-font-style-regular: Regular;
	--unnamed-font-style-medium: Medium;
	--unnamed-font-style-light: Light;
	--unnamed-font-size-12: 12px;
	--unnamed-font-size-14: 14px;
	--unnamed-font-size-16: 16px;
	--unnamed-font-size-20: 20px;
	--unnamed-font-size-24: 24px;
	--unnamed-font-size-34: 34px;
	--unnamed-font-size-48: 48px;
	--unnamed-font-size-60: 60px;
	--unnamed-font-size-96: 96px;
	--unnamed-character-spacing-0: 0px;
	--unnamed-character-spacing-0-4: 0.4px;
	--unnamed-character-spacing-0-24: 0.24px;
	--unnamed-character-spacing-0-49: 0.49px;
	--unnamed-character-spacing-0-15: 0.15px;
	--unnamed-character-spacing-1-88: 1.88px;
	--unnamed-character-spacing-0-09: 0.09px;
	--unnamed-character-spacing-1-25: 1.25px;
	--unnamed-character-spacing-0-26: 0.26px;
	--unnamed-character-spacing--0-53: -0.53px;
	--unnamed-character-spacing--1-55: -1.55px;
	--unnamed-line-spacing-16: 16px;
	--unnamed-line-spacing-19: 19px;
	--unnamed-line-spacing-21: 21px;
	--unnamed-line-spacing-26: 26px;
	--unnamed-line-spacing-32: 32px;
	--unnamed-line-spacing-45: 45px;
	--unnamed-line-spacing-63: 63px;
	--unnamed-line-spacing-79: 79px;
	--unnamed-line-spacing-127: 127px;
	}

.carousel-content {
	position: absolute;
	top: 35%;
	left: 10%;
	z-index: 20;
}
.carousel-content h1 {
	color: #FFFFFF;
	opacity: 1;
	line-height: 1.4em;
	margin-bottom: 1em;
}

.carousel-content h2 {
	width: 55%;
	text-align: left;
	font: 1em Ubuntu !important;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
}

.carousel-content h3 {
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
}

.carousel-content .btn{
	background: var(--morado-punto) 0% 0% no-repeat padding-box;
	font: 0.75em Ubuntu !important;
	height: 3.4em;
	color: #FFFFFF;
	box-shadow: 0px 1px 3px #00000033;
	border-radius: 28px;
	opacity: 1;
	padding-left: 3em;
	padding-right: 3em;
}

.carousel-content .form-control{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #000000;
	border-radius: 28px;
	opacity: 0.8;
	font: Regular 1em Roboto;
	letter-spacing: 0.01em;
}
/* Celulares */
@media only screen
and (min-width : 320px)
and (max-width : 767px) {
	.carousel-content{
		left:0%;
		width: 100%;
	}
	.carousel-content h1 {
		width: 100%;
		text-align: center;
		font: Bold 1.25em Ubuntu !important;
		letter-spacing: 0px;
		margin:auto;
		padding-left:5%;
		padding-right: 5%;
	}
	.carousel-content h2 {
		display:none;
	}
	.carousel-content h3 {
		width: 100%;
		text-align: center;
		font: 1em Ubuntu !important;
	}
	.carousel-content .btn{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top:3%;  
	}
	.carousel-content .form-control{
		width: 45%;
		margin-left: auto;
  		margin-right: auto;
	}
}

@media only screen
and (min-width : 768px)
and (max-width: 1024px){
	.carousel-content{
		left:0%;
		width: 100%;
	}
	.carousel-content h1 {
		width: 100%;
		text-align: center;
		font: Bold 1.5em Ubuntu !important;
		margin:auto;
		padding-left:5%;
		padding-right: 5%;
		
	}
	.carousel-content h2 {
		display: none;
	}
	.carousel-content h3 {
		width: 100%;
		text-align: center;
		font: 1em Ubuntu !important;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
	}
	.carousel-content .btn{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top:3%;  
	}
	.carousel-content .form-control{
		width: 45%;
		margin-left: auto;
  		margin-right: auto;
	}

}

/* PC LAptop */
@media only screen
and (min-width : 1025px) {
	.carousel-content h1 {
		width: 85%;
		font: Bold 2.5em Ubuntu !important;
		text-align: left;
		letter-spacing: 0px;
	}
	
	.carousel-content h3 {
		width: 55%;
		text-align: left;
		font: 1em Ubuntu !important;
	}
	
	.carousel-content .btn{
		margin-left: 2em;
	}
	
	.carousel-content .form-control{
		width: 20%;
		display : inline-block;
		min-width: 280px;
	}
}

.carousel-indicators li{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
	border: 1px solid #6CF3B2;
	background-color: #ffffff00;
}
.carousel-flecha{
	align-items: center;
    display: flex;
}
.carousel-indicators .active {
	background-color: #6CF3B2;
}
.carousel-content .btn:hover{
	background-color: #22317C;
}
.navbar-toggler{
	background: rgba(91, 41, 110, 3);
}

.navbar-brand {
	margin-left: 5% !important;
}
/*.navbar-collapse ul {
	height: 100vh;
}*/

.hidden{
	display: none;
}
#navbar-close img{
	height: 1.8em;
	border: none;
}

@media only screen
and (min-width : 320px)
and (max-width : 991px){
	.nav-item{
		padding-top:3%;
		padding-bottom: 1%;
	}
	.navbar-nav{
		background-color: #fff !important;
		color:#000 !important;
		border-radius: 1.6em;
	}
	.nav-link {
		font: 1.5em Ubuntu;
		letter-spacing: 0.08em;
		color: #6A6A6A;
		opacity: 1;
	}
	.cuenta{
		background: var(--morado-punto) 0% 0% no-repeat padding-box;
		box-shadow: 0px 1px 3px #00000033;
		border-radius: 1.12em;
		
	}
	.cuenta a{
		color: #fff !important;
		
	}
	
	.navbar-collapse.collapse.show {
		height: 100vh;
	}
	.navbar-nav {
		height: 100vh;
	}
	
}
@media only screen
and (min-width:992px){
	.nav-link{
		font-size: 0.8em !important;
	}
	.cuenta{
		background: var(--morado-punto) 0% 0% no-repeat padding-box;
		box-shadow: 0px 1px 3px #00000033;
		border-radius: 1.6em;
		opacity: 1;
	}
}

#navbarNav button:hover{
	background-color:#22317C;
}
.cuenta a:hover{
	text-decoration: none;
}
.nav-link{
	
	padding-right: 2em !important;
	padding-left: 2em !important;
}
.nav-link:hover{
	text-decoration: underline;
}

.buttonG:hover {
	background: #18c7a4;
  }
  
  .buttonP:hover {
	background: #785994;
  }
  
  .buttonP {
	background: rgba(120,89,148,1);
	background: -moz-linear-gradient(top, rgba(120,89,148,1) 0%, rgba(79,52,105,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(120,89,148,1)), color-stop(100%, rgba(79,52,105,1)));
	background: -webkit-linear-gradient(top, rgba(120,89,148,1) 0%, rgba(79,52,105,1) 100%);
	background: -o-linear-gradient(top, rgba(120,89,148,1) 0%, rgba(79,52,105,1) 100%);
	background: -ms-linear-gradient(top, rgba(120,89,148,1) 0%, rgba(79,52,105,1) 100%);
	background: linear-gradient(to bottom, rgba(120,89,148,1) 0%, rgba(79,52,105,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#785994', endColorstr='#4f3469', GradientType=0 );
  }


@media only screen
and (min-width : 320px)
and (max-width : 1200px){
	.contactanos h1{
		text-align: center;
		font: 1.25em Ubuntu;
	}
	.contactanos h3{
		text-align: center;
		font: 1em Ubuntu;
	}
	.contactanos .btn{
		background: var(--morado-punto) 0% 0% no-repeat padding-box;
		font: 0.75em Ubuntu !important;
		height: 80%;
		width: 30%;
		color: #FFFFFF;
		box-shadow: 0px 1px 3px #00000033;
		border-radius: 28px;
		opacity: 1;
		display:block;
		margin-top:3%;
		margin-left:auto;
		margin-right: auto;
	
	}
	
	.contactanos .form-control{
		
		width: 50%;
		height: 80%;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		border: 1px solid #000000;
		border-radius: 28px;
		opacity: 0.8;
		margin-top:3%;
		margin-left:auto;
		margin-right: auto;
	}
}

@media only screen
and (min-width:1200px){
	.contactanos h1{
		text-align: left;
		font: 1.25em Ubuntu;
	}
	.contactanos h3{
		text-align: left;
		font: 1em Ubuntu;
	}
	.contactanos .btn{
		background: var(--morado-punto) 0% 0% no-repeat padding-box;
		font: 0.75em Ubuntu !important;
		height: 80%;
		width: 9em;
		color: #FFFFFF;
		box-shadow: 0px 1px 3px #00000033;
		border-radius: 28px;
		opacity: 1;
		margin:auto;
	
	}
	
	.contactanos .form-control{
		
		width: 100%;
		height: 80%;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		border: 1px solid #000000;
		border-radius: 28px;
		opacity: 0.8;
		margin:auto;
	}
}
.contactanos .btn:hover{
	background-color: #22317C;
}
.contactanos h1{
	letter-spacing: 0px;
	color: #5B296E;
}
.contactanos h3{
	letter-spacing: 0px;
	color: #6A6A6A;
}

.contactanos{
	background: #F4F4F4 0% 0% no-repeat padding-box;
	opacity: 1;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 15%;
	padding-right: 15%;
	height: auto;
	align-items: center;
}

.links a{
	text-align: left;
	font: 1.25em  Ubuntu;
	letter-spacing: 0px;
	color: #393939;
	opacity: 1;
}
.formulario{
	align-items: center;
}